/*
 * Clases reutilizables para el proyecto
 * (Aquí pueden ir las clases de tu grid)
 */

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.text-uppercase {
  text-transform: uppercase;
}

.link{
	font-weight: 700;
	padding: 21px;
	display: inline-block;
}

.logo{
	float: right;
}


.menu{
	padding: 14px 70px;
	overflow: auto;
}

#home{
	background-image: url(../assets/images/bg-home.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 554px;
	text-align: center;
	margin-top: 80px;
}

#home .container{
	color: white;
	padding: 70px;
}

.text-home{
	font-size: 53px;
}

.btn-home{
	background: #2Ecc71;
	color: #fff;
	padding: 11px 20px;
	border-radius: 1px;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 63px;
	display: inline-block;
	font-size: 14px;
}

#services{
	background-color: #F17C72;
	text-align: center;
	color: #fff;
	padding: 70px 7px;
}

.box-services{
	display: inline-block;
	width: 30%;
	margin-top: 63px;
}

.text-services, .work h1{
	font-size: 35px;
	letter-spacing: 2px;
}

.work{
	text-align: center;
	padding: 20px;
	margin: 25px;
}
.work img{
	width: 100%;
	background-size: cover;

}
.row:before, .row:after{
	content: "";
	display: table;
}

.row:after{
	clear: both;
}

.row{
	cursor: pointer;
}

.imagen{
	width: 100%;
	border: 10px solid white;
}

.container{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.col-4 p{
	text-align: center;
}

.col-4{
	width: 33.333333%;
	min-height: 7px;
	float: left;
	padding: 25px;
}

/*MODAL*/

#imagenesModal{
	background-color: rgb(129, 206, 140);
	width:100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

#imagenesModal .modalcito{
	width: 55%;
	position: relative;
	margin: 0 auto;
	text-align: center;
	padding-top: 10px;
}

.modalcito p{
	display: none;
}

#imagenesModal .cerrar{
	position: absolute;
	color: #87c790;
	top: 2%;
	right: 24%;
	font-size: 42px;
	cursor: pointer;
}

#imagenesModal .cerrar img{
	width: 60px;
}

.claseModal{
	display: none;
}